-- Migraci├│n: Agregar campos adicionales a perfil_usuarios
-- Fecha: 2025-11-19
-- Descripci├│n: Agregar campos para completar perfil de usuario (DNI, fecha nacimiento, tel├®fono, preferencias deportivas)

-- Agregar columna DNI
ALTER TABLE perfil_usuarios 
ADD COLUMN IF NOT EXISTS dni VARCHAR(20);

-- Agregar columna fecha de nacimiento
ALTER TABLE perfil_usuarios 
ADD COLUMN IF NOT EXISTS fecha_nacimiento DATE;

-- Agregar columna tel├®fono
ALTER TABLE perfil_usuarios 
ADD COLUMN IF NOT EXISTS telefono VARCHAR(20);

-- Agregar columna mano h├íbil
ALTER TABLE perfil_usuarios 
ADD COLUMN IF NOT EXISTS mano_habil VARCHAR(10) CHECK (mano_habil IN ('derecha', 'zurda'));

-- Agregar columna posici├│n preferida
ALTER TABLE perfil_usuarios 
ADD COLUMN IF NOT EXISTS posicion_preferida VARCHAR(15) CHECK (posicion_preferida IN ('drive', 'reves', 'indiferente'));

-- Crear ├¡ndice en DNI para b├║squedas r├ípidas (opcional)
CREATE INDEX IF NOT EXISTS idx_perfil_usuarios_dni ON perfil_usuarios(dni);

-- Comentarios para documentaci├│n
COMMENT ON COLUMN perfil_usuarios.dni IS 'Documento Nacional de Identidad del usuario';
COMMENT ON COLUMN perfil_usuarios.fecha_nacimiento IS 'Fecha de nacimiento del usuario';
COMMENT ON COLUMN perfil_usuarios.telefono IS 'N├║mero de tel├®fono de contacto';
COMMENT ON COLUMN perfil_usuarios.mano_habil IS 'Mano h├íbil del jugador: derecha o zurda';
COMMENT ON COLUMN perfil_usuarios.posicion_preferida IS 'Posici├│n preferida en la cancha: drive, reves o indiferente';
